<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor Web de Imagens</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Editor de Imagens</h1>
    </div>
    <div class="container">
        <div class="upload-box" id="upload-box">
            <input type="file" id="file-input" />
            <p id="upload-text">Upload Image or Drop File</p>
            <button id="upload-button">Upload</button>
        </div>
        <div class="edit-zone">
            <img id="uploaded-image" style="display:none;" />
            <div id="editor-menu" class="editor-menu hidden">
                <h2>Editor</h2>
                <canvas id="canvas"></canvas>
                <label>Texto: <input type="text" id="text-content"></label>
                <button id="add-text">Adicionar Texto</button>
                <br></br>
                <label>Cor: <input type="color" id="text-color"></label>
                <button id="draw-circle">Desenhar Círculo</button>
                <br></br>
                <button id="draw-line">Desenhar Linha</button>
                <br></br>
                <button id="save-image">Salvar Imagem</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/handleUpload.js') }}"></script>
</body>
</html>